---
import  CarruselSlide  from './CarruselSlide.astro';
---


<div class="slider bg-black ">
    <div class='slider-track bg-[#ba7f21] flex justify-center items-center'>

        <!-- PRIMERA PARTE  -->
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
      
       
       
        <!-- SEGUNDA PARTE  -->

        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />
        <CarruselSlide img='/zoomie/zoomie-coin.png' />

          


      


        
  

            
  



    </div>
</div>


<style>
    .slider {
        width: 100%;
        overflow: hidden;
    }
    .slider-track {
        display: flex;
        animation: scroll 20s linear infinite;
        -webkit-animation: scroll 20s linear infinite;
        width: calc(250px * 20);
    }
    .slide {
        width: 250px;
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-250px * 10));
            transform: translateX(calc(-250px * 10));
        }
    }
    
</style>