---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="404 Page Not Found - Ottie"
  description="This page was not found. Please return to the Ottie home page."
  keywords="page not found"
  canonicalURL=""
	robots="noindex, follow"
>
	<main class="">
		<section class="p-8 max-w-xl mx-auto">
			<script>
				window.location.href = '/';
			</script>
		</section>
	</main>
</Layout>

<style></style>
