---
import { CA } from "../utils/utils";
---

<section id="faq" class="w-full flex flex-col items-center justify-center py-20 px-4">
    <h1  class="font-bold text-4xl sm:text-5xl tracking-tight text-white text-center mt-8 mb-4"><span class="text-[#]">FREQUENTLY ASKED QUESTIONS</span></h1>

    <div class="w-full max-w-7xl flex flex-col gap-4">
        <details class="group bg-black/10 rounded-[50px] ">
            <summary class="flex justify-between items-center font-semibold text-xl text-white cursor-pointer list-none p-6">
                <span>What is Zoomie?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <div class="text-white/70 px-6 pb-6">
                $ZOOMIE is the dog with the most energy on Solana. We are a community-driven project that celebrates the boundless energy and enthusiasm that dogs bring to our lives, especially when they get the zoomies!
            </div>
        </details>

        <details class="group bg-black/10 rounded-[50px]">
            <summary class="flex justify-between items-center font-semibold text-xl text-white cursor-pointer list-none p-6">
                <span>What is the official contract address and symbol?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <div class="text-white/70 px-6 pb-6">
                The official contract address is {CA} and the token symbol is $ZOOMIE.
            </div>
        </details>

        <details class="group bg-black/10 rounded-[50px]">
            <summary class="flex justify-between items-center font-semibold text-xl text-white cursor-pointer list-none p-6">
                <span>How can I get $ZOOMIE?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <div class="text-white/70 px-6 pb-6">
                You can easily buy $ZOOMIE on Jupiter Exchange. Make sure you have some SOL in your wallet and head to our "Buy Now" button which will take you directly to Jupiter Exchange.
            </div>
        </details>

        <details class="group bg-black/10 rounded-[50px]">
            <summary class="flex justify-between items-center font-semibold text-xl text-white cursor-pointer list-none p-6">
                <span>What is a meme coin?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <div class="text-white/70 px-6 pb-6">
                A meme coin is a cryptocurrency that is inspired by internet memes or popular culture. $ZOOMIE celebrates the boundless energy of dogs when they get the 'zoomies' - those bursts of energy where dogs run around excitedly. We combine this fun concept with the innovation of blockchain technology.
            </div>
        </details>

        <details class="group bg-black/10 rounded-[50px]">
            <summary class="flex justify-between items-center font-semibold text-xl text-white cursor-pointer list-none p-6">
                <span>What are 'zoomies'?</span>
                <span class="transition group-open:rotate-180">
                    <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                </span>
            </summary>
            <div class="text-white/70 px-6 pb-6">
                'Zoomies' is the term for when dogs get sudden bursts of energy and run around excitedly in circles or back and forth. It's a natural behavior where dogs release pent-up energy in an enthusiastic way. Our token $ZOOMIE embodies this spirited energy and excitement that makes dogs so lovable!
            </div>
        </details>

    </div>
</section>

<style>
    details > summary::-webkit-details-marker {
        display: none;
    }
</style>
