---
// Componente Rebel Guinea Pig
---

<div class="w-full flex flex-col justify-center items-center mt-16">

  <h1 class="fingy-title text-white text-4xl desktop:text-6xl">NFT COLLECTION</h1>


  <section class="w-full max-w-7xl mx-auto flex flex-col desktop:flex-row items-center justify-between p-8 desktop:p-16">
    <!-- Lado izquierdo - Imagen y texto BIOS -->

    
    <!-- Lado derecho - Contenido de texto -->
    <div class="flex-1 desktop:pr-12">


      <div class="space-y-2 text-white text-lg desktop:text-xl leading-relaxed">

        <button class="w-full fingy-title2 max-w-xl bg-white hover:bg-[#ab602e] hover:text-white text-black font-semibold text-2xl  px-4 py-4 rounded-lg border-4 border-black shadow-lg transform transition-all duration-200 active:scale-95">
          🔥 1,000 One-of-One PFPs
        </button>

        <button class="w-full fingy-title2 max-w-xl bg-white hover:bg-[#ab602e] hover:text-white text-black font-semibold text-2xl  px-4 py-4 rounded-lg border-4 border-black shadow-lg transform transition-all duration-200 active:scale-95">
          🔥 1,000 One-of-One PFPs
        </button>

        <button class="w-full fingy-title2 max-w-xl bg-white hover:bg-[#ab602e] hover:text-white text-black font-semibold text-2xl  px-4 py-4 rounded-lg border-4 border-black shadow-lg transform transition-all duration-200 active:scale-95">
          🔥 1,000 One-of-One PFPs
        </button>

        <button class="w-full fingy-title2 max-w-xl bg-white hover:bg-[#ab602e] hover:text-white text-black font-semibold text-2xl  px-4 py-4 rounded-lg border-4 border-black shadow-lg transform transition-all duration-200 active:scale-95">
          🔥 1,000 One-of-One PFPs
        </button>

        <button class="w-full fingy-title2 max-w-xl bg-white hover:bg-[#ab602e] hover:text-white text-black font-semibold text-2xl  px-4 py-4 rounded-lg border-4 border-black shadow-lg transform transition-all duration-200 active:scale-95">
          🔥 1,000 One-of-One PFPs
        </button>

      
      </div>


    </div>



    <div class="flex-1 flex flex-col items-center desktop:items-start mb-8 desktop:mb-0">
      <img src="/lazybillions.gif" alt="Rebel Guinea Pig" class="w-full desktop:w-11/12 rounded-3xl">  
    </div>


  </section>
</div>
  
  <style>
  .fingy-title {
    font-family: 'Amiger Cartoon', sans-serif;
    letter-spacing: 0.3px;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 4px 4px #000;
    font-weight: 500;
    margin-top: 0;
  }
</style>